body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- add below --- */
.details_text {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #FFB6C1; /* light pink to match background */
    color: white;
    padding: 12px 22px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff91a4; /* slightly darker pink on hover */
}
